<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="Classes">
  <test thread-count="5" name="Test" parallel="false">
  <parameter name="" value=""></parameter>
  <classes>
  <class name="org.Learn.Login"></class>
  <!-- <class name="org.Learn.InputData"></class> -->
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
